
.postWrapper{ 
    width:1100;
    display:flex;
    justify-content:space-between;
    align-items:Center;
    
}

.postWrapper div {
    width: 100%;
    }

.viewWrapper {
padding-right:10vh;
margin-left: 35vh;
}

.viewWrapper img {   
    height:60vh;
    width:80vh;
}
    

.updateWrapper{
    display:flex;
    flex-direction:column;
}
input {
    width: 100%;
}

@media(max-width: 1024px){
    .postWrapper {
        flex-direction: column;
        padding-bottom: 10vh;
    }
    .viewWrapper {
        padding-right:0;
        margin-left: 0;
    }
 
} 

@media(max-width: 600px){
    
    
    .viewWrapper img {   
        height:50vh;
         width:50vh;
    }
    input {
        width: 70%;
    }
}