.signupWrapper{
    width:900px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:Center;
    }
    .signupWrapper h2 {
        font-size:30px;
        margin:30px;
    }
    .signupWrapper input {
        padding:10px;
        margin:10px;
    }
    .signupWrapper button {
        width:73%;
    }
    
    